table {
    margin: auto;
    border: 2px solid rgba(0, 0, 255, 0.2);
    padding: 8px;
    width: 60%;
}

td {
    border: 2px solid rgba(0, 0, 255, 0.2);
    padding: 8px;
}

tr:nth-child(even) {
    background-color: rgba(113, 113, 225, 0.24);
}

tr:nth-child(odd) {
    background-color: rgba(130, 185, 190, 0.262);
}

tr:hover {
    background-color: #ddd;
}

#map {
    height: 350px;
    width: 80%;
    border: green solid 5px;
}